
.container {
    display: flex;
    justify-content: center;
    padding: 10%;
}

.card {
    background-color: white;
    width: 55%;
    border-radius: 8px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 40px;
    text-align: center;
}

.icon {
    font-size: 75px;
    color: #1DBEB4;
}

.title {
    font-size: 24px;
    color: #1DBEB4;
    padding-top: 10px;
}

.subTitle {
    font-size: 20px;
    color: #383B58;
    padding-bottom: 30px;
}

.button {
    height: 40px;
    background-color: #1DBEB4;
    color: white;
    border: 1px solid #1DBEB4;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        padding: 15% 5%;
    }

    .card {
        width: 100%;
    }
}